<section class="banner contact">
  <div class="usa-grid">
  {% for form in site.forms %}
    {% if form.type == 'newsletter' %}
      {% assign f = form %}
    {% endif %}
  {% endfor %}

  <form id="contact" action="{{ f.url }}" method="POST">
    <fieldset>
      <legend>Sign up to receive updates from SBST</legend>
      {% for field in f.fields %}
        <div class="usa-width-one-half">
          <label for="contact-{{ field.name }}">{{ field.label }}</label>
          <input id="contact-{{ field.name }}"
            name="{{ field.name }}" type="{{ field.type }}"
            {% if field.value %} value="{{ field.value }}" {% endif %}>
        </div>
        <div class="usa-width-one-half usa-end-row">
        </div>
      {% endfor %}
      <div class="usa-width-one-whole usa-input-buttons-inline">
        <input type="submit" value="{{ f.button }}">
      </div>

    </fieldset>

  </form>
  </div>
</section>
