<footer class="usa-footer usa-footer-medium usa-sans" role="contentinfo">
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav">
        <ul class="usa-unstyled-list">
          {% assign pages = site.pages %}
          {% for page in pages %}
            {% if page.nav %}
            <li class="usa-width-one-sixth usa-footer-primary-content">
              <a class="usa-footer-primary-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        {% if site.contact.agencyimage %}
          <img class="usa-footer-logo-img" src="{{ site.contact.agencyimage }}" alt="Logo image">
        {% endif %}
      </div>

      <div class="usa-footer-contact-links usa-width-one-half">

        <address>
          <h3 class="usa-footer-contact-heading">Contact {{ site.contact.agencyname }}</h3>
          {% if site.contact.phonenumber %}
            <p><a href="tel:{{ site.contact.phonenumber }}">{{ site.contact.phonenumber }}</a></p>
          {% endif %}
          <p><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></p>
        </address>
      </div>
    </div>
  </div>
</footer>
