.banner.tagline {
  background-color: $text-color;
}
.banner.tagline .usa-grid {
  padding: 3rem;
}
.banner.tagline p {
  color: $contact-text-color;
  margin-bottom: 75px;
}
.banner.tagline h2 {
  color: $contact-text-color;
  margin-top: 75px;
}

.banner.contact {
  background-color: $contact-background-color;
}
.banner.contact form {
  padding-top: 2em;
}
.banner.contact h2,
.banner.contact p,
.banner.contact legend,
.banner.contact label,
.banner.contact a,
.banner.contact a:hover,
.banner.contact a:visited {
  color: $contact-text-color;
}
