.banner.tagline {
  background-color: $text-color;
}
.banner.tagline p {
  color: white;
  margin-bottom: 75px;
}
.banner.tagline h2 {
  color: white;
  margin-top: 75px;
}

.banner.contact {
  background-color: $contact-background-color;
}
.banner.contact form {
  padding-top: 2em;
}
