body,
legend, label,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li, a  {
  color: $text-color;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
legend,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}
ul, li {
  margin-bottom: 0;
}
main {
  margin-bottom: 1em;
}
form {
  max-width: 100%;
}
