.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30em;
}
.hero-content {
  background-color: azure;
  background-color: transparentize($text-color, .5);
  padding-top: 20px;
  text-align: center;
}
.hero-content h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 0;
}
.hero-content .usa-button {
  font-size: 22px;
  line-height: 44px;
}
