.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30em;
}
.hero-content {
  background-color: azure;
  background-color: transparentize($text-color, .5);
  margin-left: 20%;
  padding-top: 20px;
  text-align: center;
  width: 60%;
}
.hero-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 0;
}
.hero-content .usa-button {
  font-size: 22px;
  line-height: 30px;
}
@media (max-width: 500px) {
  .hero-content {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    padding-top: 10px;
    width: auto;
  }
  .hero-content h1 {
    font-size: 24px;
    line-height: 30px;
    padding-left: .3em;
    padding-right: .3em;
  }
}
