.usa-disclaimer {
  text-align: center;
}
.usa-site-navbar {
  padding-top: 1rem;
}
.usa-site-navbar .usa-grid {
  position: relative;
}
.usa-site-navbar .usa-grid::before,
.usa-site-navbar .usa-grid::after {
  display: table;
  content: "";
}
#logo {
  float: left;
  max-width: 32rem;
}
@media (max-width: 500px) {
  #logo img {
      width: 90px;
  }
}
#logo a {
  border: none;
}
#logo h1 {
  font-size: 3rem;
  margin: 0;
}
ul.usa-nav-list a {
  border-bottom: 0;
  text-decoration: none;
}
ul.usa-nav-list {
  bottom: 20px;
  float: right;
  margin-top: 1em;
  position: absolute;
  right: 3rem;
}
li.usa-menu-item {
  font-size: 18px;
  display: inline;
  margin-right: 2em;
}
@media (max-width: 500px) {
  ul.usa-nav-list {
    margin-top: .5em;
  }
  li.usa-menu-item {
    display: block;
  }
}
li.usa-menu-item:last-child {
  margin-right: 0;
}
