@media all and (min-width: 951px) {
  .usa-header-basic .usa-navbar {
    // this affects the size of the logo and also the mobile menu nav
    width: 30%;
  }
}

@media all and (max-width: 951px) {
  #logo img {
    // keep header img from overflowing menu bar
    max-height: 3.7rem;
  }
}

.usa-nav-primary a:hover {
  color: $button-color;
}

.usa-nav-link:hover span {
  border-bottom-color: $button-color;
}
