.usa-site-navbar {
  border-bottom: 1px solid gray;
  padding-top: 1rem;
}
.usa-site-navbar .usa-grid::before,
.usa-site-navbar .usa-grid::after {
  display: table;
  content: "";
}
#logo {
  float: left;
  max-width: 32rem;
}
#logo a {
  border: none;
}
#logo h1 {
  font-size: 3rem;
  margin: 0;
}
ul.usa-unstyled-list a {
  border-bottom: 0;
  text-decoration: none;
}
ul.usa-nav-list {
  float: right;
  margin-top: 1em;
  margin-bottom: .5em;
}
li.usa-menu-item {
  display: inline;
  margin-right: 2em;
}
li.usa-menu-item:last-child {
  margin-right: 0;
}
