---
layout: base
---

<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      {{ content }}
    </div>
  </div>
</section>

<section class="banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>We are a cross-agency team with backgrounds in a diversity of fields, including economics, policy, psychology, law, medicine, statistics and political science.</h2>
      <p>What unifies us is our commitment to using what research tells us about how people make decisions to better serve Americans and improve government efficiency.</p>
    </div>
  </div>
</section>

{% include projects.html %}

{% include contact.html %}
