---
layout: base
---

<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a>
      </div>
    </div>
  </div>
</section>

<section class="usa-grid usa-section">
    <h2>Work</h2>
    {% include projects.html %}
</section>

{% if page.banner-heading %}
<section class="usa-section banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="usa-grid usa-section">
  <div class="usa-width-one-whole usa-end-row">
    {{ content }}
    {% if page.content-button-link %}
      <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
    {% endif %}
  </div>
</section>

{% include contact.html %}
