---
layout: base
---

<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-one-sixth">&nbsp;</div>
      <div class="usa-width-two-thirds hero-content">
        <h1>{{ page.hero-text }}</h1>
        <a class="usa-button usa-button-big" href="{{ page.hero-button-link }}">{{ page.hero-button-text }}</a>
      </div>
      <div class="usa-width-one-sixth usa-end-row">&nbsp;</div>
    </div>
  </div>
</section>

<section>
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      {{ content }}
    </div>
  </div>
</section>

<section>
  <div class="usa-grid">
    {% include projects.html %}
  </div>
</section>

<section>
  {% include contact.html %}
</section>
